WebContent/wsdl/BookResource.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://restWs.saif.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://restWs.saif.edu" xmlns:intf="http://restWs.saif.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://restWs.saif.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBooks">
    <complexType/>
   </element>
   <element name="getBooksResponse">
    <complexType>
     <sequence>
      <element name="getBooksReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="addBook">
    <complexType>
     <sequence>
      <element name="book" type="impl:Book"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Book">
    <sequence>
     <element name="bookAuthor" nillable="true" type="xsd:string"/>
     <element name="bookISBN" nillable="true" type="xsd:string"/>
     <element name="bookName" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="addBookResponse">
    <complexType>
     <sequence>
      <element name="addBookReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBook">
    <complexType>
     <sequence>
      <element name="bookId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBookResponse">
    <complexType>
     <sequence>
      <element name="getBookReturn" type="impl:Book"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBooksResponse">

      <wsdl:part element="impl:getBooksResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBooksRequest">

      <wsdl:part element="impl:getBooks" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addBookRequest">

      <wsdl:part element="impl:addBook" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBookResponse">

      <wsdl:part element="impl:getBookResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addBookResponse">

      <wsdl:part element="impl:addBookResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBookRequest">

      <wsdl:part element="impl:getBook" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookResource">

      <wsdl:operation name="getBooks">

         <wsdl:input message="impl:getBooksRequest" name="getBooksRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBooksResponse" name="getBooksResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addBook">

         <wsdl:input message="impl:addBookRequest" name="addBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:addBookResponse" name="addBookResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBook">

         <wsdl:input message="impl:getBookRequest" name="getBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBookResponse" name="getBookResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookResourceSoapBinding" type="impl:BookResource">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBooks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBooksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBooksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookResourceService">

      <wsdl:port binding="impl:BookResourceSoapBinding" name="BookResource">

         <wsdlsoap:address location="http://localhost:8443/RestfulWs/services/BookResource"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
